.a{
    color: rgb(43, 112, 168); background-color: rgb(153, 219, 250);
}
#s{
    color:rgb(43, 112, 168) ;
}
.td1{
    color: darkblue;
}
.c{
    color:rgb(43, 112, 168)
}
.r{ background-color: rgba(206, 197, 197, 0.726);}